
/* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('./travel_background.JPG');
    background-size: cover;
    background-repeat: no-repeat;
  }

/* Basic CSS for the navigation bar */
nav {
    background-color: black;
    opacity: .7;
    padding: 10px 10px;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-search input {
    padding: 5px;
    border-radius: 15 px;
    border: none;
    outline: none;
}

.navbar-title {
    color:  white;
    font-size: 16 px;
    font-weight: bold;
    align-items: center;
    margin-right: none;
}

.navbar-title i {
    margin-right: 10px;
    vertical-align: middle;
}

.navbar-links {
    display: flex;
    align-items: center;
}
  
nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ebe6e6;
    font-weight: normal;
  }

.navbar-search input {
    width: 250px;
    padding: 5px 5px;
    border-radius: 50 px;
    border: 1px solid #ccc;
    outline: solid;
    background-color: white;
}

.navbar-search button {
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 4px;
    color: white;
    background-color: #2b8b87;
    border: none;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 50px;
    margin-top: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
}

.sideline {
    border-left: 2px solid white; /* Adjust thickness and color */
    height: 200; /* Covers the top third of the sidebar */
    position: static;
    top: 0;
    left: 50%; /* Center the line horizontally */
    transform: translateX(-50%);
}

.social-icons a {
    color: white;
    font-size: 20px;
}

.social-icons a:hover {
    color: #575757;
}
.main-content {
    margin-left: 50px; /* Same as the width of the sidenav */
    margin-right: 10px;
    padding: 20px;
    color: white;
}

.bordered-heading {
    color: white;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 48px;
    padding-left: 20px;
    padding-top: 60px;
    border: 2px red;
    padding: 0px;
    border-radius: 5px;
}

.info-text {
    color: white;
    width: 300;
    background-color: rgb(13, 15, 15);
    opacity: .6;
    padding: 20;
    border-radius: 5px;
    outline: 1px;
}

.about-text {
    color: white;
    font-size: 12px;
    width: auto;
    background-color: rgb(13, 15, 15);
    opacity: .7;
    padding: 10px;
}

.book-button {
    padding: 7px 15px;
    padding-left: 15px;
    border-radius: 4px;
    color: white;
    background-color: #2b8b87;
    border: none;
    cursor: pointer;
  }

  .myTeam {
    width:100%;
    display: flex;
    overflow:auto;
  }
  
  .myTeam div {
    color: white;
    font-size: 12px;
    width: 25%;
    float:left;
    background-color: black;
    opacity: .7;
  }

  .myTeam button {
    width: 200px;
    color: white;
    background-color: blue;
    opacity: 1;
    border-radius: 4px;
  }

  .myTeam h2 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
  }

  .invisible {
    visibility: hidden;
  }

  .contact-us {
    width:100%;
    display: flex;
    overflow:auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 100px 100px 100px 50px;
  }

  .contact-us div {
    color: white;
    font-size: 12px;
    width: 45%;
    float: none;
  }

  .contact-us h2 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
  }

  .contact-info-box {
    color: transparent;
    background-color: black;
    padding: 18px;
    opacity: .7;
  }

  .info-txt {
    color: white;
    background-color: black;
    width: 100%;
  }

  .contact-submit-button {
    width: 100%;
    padding: 7px 15px;
    padding-left: 15px;
    border-radius: 4px;
    color: white;
    background-color: #2b8b87;
    border: none;
    cursor: pointer;
    opacity: 1;
  }
